[core]
    editor = vim
    pager = less -F -X -R [color]
    ui = auto
	pager = less -F -X
	ignorecase = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    l = log --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ci) %C(cyan bold)<%an>%Creset %G? ' --abbrev-commit
    lg = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cd) %C(cyan)<%an>%Creset %G? ' --abbrev-commit
    st = status -bs
    cbr ="!f() { \
            local branches branch; \
            branches=$(git branch --all --color=always | grep -v HEAD); \
            branch=$(echo \"$branches\" | fzf-tmux  +m --ansi); \
            git checkout $(echo \"$branch\" | sed \"s/.* //\" | sed \"s#remotes/[^/]*/##\"); \
          };\
        f"
    last-tag = describe --tags --abbrev=0 @^
    cl = !git log --no-merges --pretty=format:' %h - %s (%ci) <%an>' $(git last-tag)..@
    tag-cl = "!git tag -a $1 -m \"$(echo Version $1)\n\nChanges since $(git last-tag):\n$(git cl)\" #"
    npm-tag = "!f() { \
            [[ ! $1 =~ ^(major|minor|patch)$ ]] && echo \"ERROR Missing version type.\n\nUsage:\ngit npm-tag [major|minor|patch]\" && exit 1; \
            npm version $1 -m \"$(echo \"Update to %s\n\nChangelog:\n$(git cl)\")\"; \
        }; f"
    graph = log --decorate --oneline --graph
[difftool "vimdiff"]
    cmd = "vimdiff -R  ${REMOTE} -c ':se noreadonly' ${LOCAL}"
[mergetool "vimdiff3"]
      cmd = vim -u ~/.vimrc -f -d -c \"wincmd J\" \"$MERGED\" -R \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[push]
	default = simple
[mergetool]
	prompt = false
[merge]
	tool = vimdiff
[help]
	autocorrect = 20
[include]
    path = ~/.gitconfig.user
[log]
	date = local
[gpg]
	program = gpg
[init]
	defaultBranch = main
[fetch]
	prune = true
[remote "origin"]
    fetch = +refs/merge-requests/*/head:refs/remotes/origin/merge-requests/*
