[core]
    editor = vim
    pager = less -F -X -R [color]
    ui = auto
	pager = less -F -X
	ignorecase = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    l = log --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ci) %C(cyan bold)<%an>%Creset' --abbrev-commit
    lg = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cd) %C(cyan)<%an>%Creset' --abbrev-commit
    st = status -bs
    cbr ="!f() { \
            local branches branch; \
            branches=$(git branch --all --color=always | grep -v HEAD); \
            branch=$(echo \"$branches\" | fzf-tmux  +m --ansi); \
            git checkout $(echo \"$branch\" | sed \"s/.* //\" | sed \"s#remotes/[^/]*/##\"); \
          };\
        f"
    graph = log --decorate --oneline --graph
    delete-branch = "!f() {git branch -d $1 && git push origin --delete $1 git && fetch --all --prune} f;"
    clean-branches = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    dfdev = diff origin/development
[difftool "vimdiff"]
    cmd = "vimdiff -R  ${REMOTE} -c ':se noreadonly' ${LOCAL}"
[mergetool "vimdiff3"]
      cmd = vim -u ~/.vimrc -f -d -c \"wincmd J\" \"$MERGED\" -R \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[push]
	default = simple
[mergetool]
	prompt = false
[merge]
	tool = vimdiff
[help]
	autocorrect = 20
[include]
    path = ~/.gitconfig.user
[log]
	date = local
[remote "origin"]
	fetch = +refs/pull-requests/*/merge:refs/remotes/origin/pull-requests-merge/*
	fetch = +refs/pull-requests/*/from:refs/remotes/origin/pull-requests-from/*
[gpg]
	program = gpg
