! Base16 Gruvbox dark, hard
! Scheme: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

#define base00 #1d2021
#define base01 #3c3836
#define base02 #504945
#define base03 #665c54
#define base04 #bdae93
#define base05 #d5c4a1
#define base06 #ebdbb2
#define base07 #fbf1c7
#define base08 #fb4934
#define base09 #fe8019
#define base0A #fabd2f
#define base0B #b8bb26
#define base0C #8ec07c
#define base0D #83a598
#define base0E #d3869b
#define base0F #d65d0e

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07


! rofi
! ================================================================================================================================================================
! Enable the extended coloring options
rofi.color-enabled: true

! ! Property Name   BG      Border  Separator
rofi.color-window:  base01, base01, base00

! ! Property Name   BG      FG      BG-alt  Head-BG Head-FG
rofi.color-normal:  base01, base05, base01, base04, base01
rofi.color-active:  base01, base0D, base01, base01, base0D
rofi.color-urgent:  base01, base08, base01, base01, base08

! ! Set the desired separator style
rofi.separator-style: solid


! Font
! ================================================================================================================================================================
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

Xcursor.theme:   Neutral


! urxvt
! ================================================================================================================================================================
! urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp' >> ~/.Xresources
! TERM=dump command man -Pcat urxvt | sed -n '/depth: b/,/^BACKGROUND/p'|sed '$d'| sed 's/@/%-.-%/g; s/\^/%-+-%/g' | sed '/^       [a-z]/s/^ */^/g' | tr -s "\n" \|
! sed -e :a -e 'N;s/\n/@@/g;ta;P;D' | sed 's,\^\([^@]\+\)@*[\t ]*\([^\^]\+\),! \2\n! URxvt*\1\n\n,g' | sed 's,@@           ,\n           ,g' | sed 's,@*$,,g' |sed '/^[^!]/d'

! Create the window with the specified X window geometry [default 80x24]
URxvt*geometry:                         240x84

! True: start as a login shell by prepending a - to argv[0] of the shell; option -ls.  False: start as a normal sub-shell [default]; 
URxvt*loginShell:                       true

! Use the specified colour for the scrollbar [default #B2B2B2]
URxvt*scrollColor:                      #777777

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors favourite.
URxvt*scrollstyle:                      plain

! True: scroll to bottom when a non-special key pressed.  Special keys are those which are intercepted by rxvt for special handling andnt passed onto the shell; False: dont scroll to bottom
URxvt*scrollTtyKeypress:                true

! True: scroll to bottom when tty receives output; False: do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput:                  false

! True: scroll with scrollback buffer when tty recieves new lines (and scrollTtyOutput is False);  False: do not scroll with scrollback buffer when tty recieves new lines
URxvt*scrollWithBuffer:                 false

! Turn on/off secondary screen (default enabled)
URxvt*secondaryScreen:                  true

! (default enabled). If this option is enabled, scrolls on the secondary screen will change the scrollback buffer and, when secondaryScreen is off, switching to/from the secondary screen will instead scroll the screen up.
URxvt*secondaryScroll:                  true
! (true) When receiving lots of lines, urxvt will only scroll once in a while (around 60x/sec), resulting in fewer updates. This can result in urxvt not ever displaying some of the lines it receives
URxvt*skipScroll:                       true

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar
URxvt*scrollBar:                        false

! place the scrollbar on the right of the window
URxvt*scrollBar_right:                  false

! di5play an rxvt scrollbar with/without a trough
URxvt*scrollBar_floating:               false

! Fade the text by the given percentage when focus is lost
URxvt*fading:                           20

! True: inhibit writing record into the system log file utmp;  False: write record into the system log file utmp [default]
URxvt*utmpInhibit:                      false

! True: set the urgency hint for the wm on receipt of a bell character.  False: do not set the urgency hint [default] urxvt resets the urgency hint on every focus change.
URxvt*urgentOnBell:                     true

! True: use visual bell on receipt of a bell character; option -vb.  False: no visual bell [default]
URxvt*visualBell:                       false

! True: de-iconify (map) on receipt of a bell character.  False: no de-iconify (map) on receipt of a bell character [default].
URxvt*mapAlert:                         true

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls five lines [default]
URxvt*mouseWheelScrollPage:             false

! Use the specified colour as the windows background colour [default White]
URxvt*background:                       Black

!  Use the specified colour as the windows foreground colour [default Black]
URxvt*foreground:                       Grey

! Use the specified colour to disp1ay underlined characters when the foreground colour is the default.
URxvt*colorUL:                          yellow

! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground colour
URxvt*underlineColor:                   yellow

URxvt*font:                             xft:DejaVuSansMono Nerd Font:size=10:antialias=true:hinting=true,Awesome:size=10
URxvt*boldFont:                         xft:DejaVuSansMono Nerd Font:style=Bold:size=10:antialias=true:hinting=true,Awesome:size=10
URxvt*italicFont:                       xft:DejaVuSansMono Nerd Font:style=Oblique:autohint=true:size=10:antialias=true:hinting=true,Awesome:size=10
URxvt*boldItalicFont:                   xft:DejaVuSansMono Nerd Font:style=Bold Oblique:autohint=true:size=10:antialias=true:hinting=true,Awesome:size=10
!
! Specify a command pipe for vt100 printer [default lpr(1)].  Use Print to initiate a screen dump to the printer and Ctrl-Print or Shift-Print to include the scrollback
URxvt*print-pipe:                       cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! Comma-separated list(s) of perl extension scripts (default: "default") to use in this terminal instance, blank disables
URxvt*perl-ext-common:
URxvt*perl-ext:

! vi: ft=xdefaults
